// Responsive Mixins
// Importing variable definitions
@import '_settings.variables';

// Mixin for responsive header large
@mixin responsive-header-large {
  font-size: $header-size;
  @media (max-width: 992px) { font-size: 2rem; }
  @media (max-width: 768px) { font-size: 1.5rem; }
  @media (max-width: 576px) { font-size: 1.25rem; }
}

// Mixin for responsive subheader
@mixin responsive-subheader {
  font-size: $subheader-size;
  @media (max-width: 992px) { font-size: 1rem; }
  @media (max-width: 768px) { font-size: 0.875rem; }
  @media (max-width: 576px) { font-size: 0.75rem; margin-bottom: .5rem; }
}

// Mixin for responsive tagline
@mixin responsive-tagline {
  font-size: $tagline-size;
  @media (max-width: 992px) { font-size: .75rem; }
  @media (max-width: 576px) { font-size: 0.75rem; }
}

// Mixin for responsive card title
@mixin responsive-card-title {
  font-size: $card-title-size;
  @media (max-width: 992px) { font-size: 1rem; }
  @media (max-width: 768px) { font-size: 0.875rem; }
}

// Mixin for responsive card text
@mixin responsive-card-text {
  font-size: $card-text-size;
  @media (max-width: 992px) { font-size: .8rem; }
}

// Mixin for responsive modal image
@mixin responsive-modal-image {
  @media (max-width: 992px) { max-height: 300px; }
}

// Mixin for responsive navigation item
@mixin responsive-nav-item {
  @media (max-width: 768px) { font-size: 0.875rem; }
  @media (max-width: 576px) { font-size: 0.75rem; }
}

// Mixin for responsive jumbotron container
@mixin responsive-jumbotron-container {
  @media (max-width: 576px) {
    padding-left: 3rem;
    margin-left: 0px;
  }
}

// Mixin for responsive process steps
@mixin responsive-process-steps {
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
    .process-step:not(:last-child)::after { content: none; }
    .process-step { padding: 0; display: flex; align-items: center; width: 100%; }
    .circle { margin: 1rem; }
    .process-step span { margin-left: 0.5rem; }
  }
}
