// Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$tertiary-font: 'Oswald', sans-serif;

$primary-color: #2C3D4F;
$secondary-color: #477D95;
$tertiary-color: #424242;
$accent-color: #5E8BAF;
$light-color: #E3EBF0;
$dark-color: rgba(0, 0, 0, 0.5);
$white: #FFF;
$black: #000;

$header-size: 2.5rem;
$subheader-size: 1.75rem;
$tagline-size: 1rem;
$card-title-size: 1.2rem;
$card-text-size: 1rem;
