$font-primary: 'HelveticaNeue', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Raleway', sans-serif;

$color-background: #f1f7fb;
$color-primary: #2C3D4F;
$color-secondary: #477D95;
$color-tertiary: #5E8BAF;
$color-quaternary: #E3EBF0;