@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

.card {
    display: flex;
    border: 2rem solid $border-color;
    padding: 1rem;
    border-radius: $border-radius-default;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 1rem;
    font-family: $sans-font;

    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    .image-container {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .info-container {
        display: flex;
        flex-direction: column;

        padding: .625rem 8rem .625rem .625rem;
        margin: 1rem;
        background-color: $light-gray;
    }

    .name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.325rem;
    }

    .title {
        color: $gray;
        font-style: italic;
    }

    .detail {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 1rem;

        &:last-child {
            margin-top: .25rem;
            margin-bottom: 0rem;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        img {
            padding-right: .5rem;
        }
    }

    @include media-smaller-than(700px) {

        flex-direction: column;
        padding: .5rem;
        border: 1rem solid $border-color;

        .detail {
            font-size: .8rem;
        }

        .left-container,
        .info-container {
            margin: .5rem;
            width: 100%;
            padding: .625rem clamp(.625rem, 1vw, 8rem) .625rem .625rem;

        }
    }
}