html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

@mixin detail-label($label) {
    position: relative;

    &::before {
        content: $label + ":";
        font-weight: bold;
        display: inline-block;
        margin-right: 0.5em;
    }
}

.card {
    .info-container {
        .detail {
            &.company {
                @include detail-label('Company');
            }

            &.experience {
                @include detail-label('Experience');
            }

            &.school {
                @include detail-label('School');
            }

            &.major {
                @include detail-label('Major');
            }

            &.email {
                @include detail-label('Email');
            }
        }
    }
}